<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Chats Tab -->
  <ion-tab title="check-in" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab-receptionist/check_in">
    <ion-nav-view name="tab-receptionist-check_in"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Appointment" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab-receptionist/home">
    <ion-nav-view name="tab-receptionist-home"></ion-nav-view>
  </ion-tab>

<!-- Signout Tab -->
  <ion-tab title="Sign Out" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/sign-in">
  </ion-tab>

</ion-tabs>
