<ion-view view-title="Previous Visits">
  <ion-content> 
        <label class="item item-input">
          <span class="input-label">Date :</span>
          <input type="text" value="04/12/2017" readonly>
        </label>
        <label class="item item-input">
          <span class="input-label">Time :</span>
          <input type="text" value="1:00Pm" readonly>
        </label>
          <label class="item item-input">
          <span class="input-label">Doctor :</span>
          <input type="text" value="Shalin Patel" readonly>
        </label>
          <label class="item item-input">
          <span class="input-label">Description :</span>
          <input type="email" value="Pain in heart" readonly>
        </label>
          <label class="item item-input">
          <span class="input-label">Dcotor Comments:</span>
          <input type="email" value="Take medicine regularly" readonly>
        </label>
  </ion-content>
 
</ion-view>