<ion-view view-title="Patient-Info">
  <ion-content class="padding">
    <div class = "row">
        <div class = "col col-20">Name:</div>
        <div class = "col col-20">{{name}}</div>
    </div>
  <div class = "row">
        <div class = "col col-20">Contact:</div>
        <div class = "col col-20">{{contact}}</div>
    </div>
    <div class = "row">
        <div class = "col col-20">Email:</div>
        <div class = "col">{{email}}</div>
    </div>
    <div class = "row">
         <div class = "col col-20"> <a href="#/tab-doctor/patient-reports">reports</a></div> 
    </div>
    
  </ion-content>
</ion-view>